<div class="container">
    <div class="row mb-5">
        <div class="col text-center">
            <h1>It's Burger Time!</h1>
            <img src="/assets/img/burger.png" alt="burger" width="300px">
            <h5>Are you ready to devour some burgers???</h5>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <h2>Add a Burger</h2>
            <form class="create-form form-inline justify-content-center">
                <div class="form-group">
                    <label for="bu">Burger Name:</label>
                    <input class="mx-3" type="text" id="bu" name="name">
                </div>
                <button class="btn btn-primary" type="submit">Add Burger</button>
            </form>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6 text-center">
            <h2>Burgers to eat!</h2>
            <ul class="text-left burger-list">
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    <img src="/assets/img/burger.png" alt="burger" width="45px">
                    {{burger_name}}
                    <button class="devoured float-right btn btn-success text-right" data-id="{{id}}">
                        DEVOUR IT!
                    </button>
                    <button class="delete-burger float-right btn btn-danger mr-2 text-right" data-id="{{id}}">
                        DELETE
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col-6 text-center">
            <h2>Devoured Burgers!</h2>
            <ul class="text-left">
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    <img src="/assets/img/burger.png" alt="burger" width="45px">
                    {{burger_name}}
                    <button class="delete-burger float-right btn btn-danger" data-id="{{id}}">
                        DELETE
                    </button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

</div>